# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local*

# Bun files
.nx/
bun.lockb

# Editor files
.vscode/

# Built files
dist/
secret/

# Model data files
model-data/
